@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.blue {
  color: #3964E8;
}
.orange {
  color: #E06E3C;
}
.black {
  color: black;
}
.white {
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
h1, #choice h3, #choice p {
  text-align: center;
}
a {
  font-weight: 600;
  cursor: pointer;
}
section {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
}
section h1 {
  text-align: start;
}

.flex {
  display: flex;
}

.grid {
  display: grid; 
}

.dotted {
  border: 3px dotted #E06E3C;
}


#atel1 .container {
  justify-content: space-between;
  align-items: center;
  background-color: #3964E8;
  height: 60px;
  padding: 0px 1rem;
  border-bottom: 5px solid #E06E3C;
}

#atel1 ul {
  list-style-type: none;
}

.nav-logo {
  font-size: 32px;
  font-weight: 700;
}
.normal-nav {
  display: flex;
  gap: 2rem;
}
#burger-nav {
  display: none;
}

#atel2 .container {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#atel2 img {
  height: 150px;
}
#atel2 .card {
  border: 3px solid #E06E3C;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#atel2 a, #atel2 p {
  padding: 0 10px;
}

#atel2 nav {
  color: #E06E3C;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}


@media (max-width: 760px) {
  .normal-nav {
    display: none;
  }
  #burger-nav {
    display: inline-block;
  }
  section h1 {
    text-align: center;
  }
  #atel2 .container {
    justify-content: center;
  }
}
