@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.blue {
  color: #3964E8;
}
.orange {
  color: #E06E3C;
}
.black {
  color: black;
}
.white {
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
h1, #choice h3, #choice p {
  text-align: center;
}
a {
  font-weight: 600;
  cursor: pointer;
}
section {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
}
section h1 {
  text-align: start;
  margin-bottom: 75px;
}

.flex {
  display: flex;
}

.grid {
  display: grid; 
}

.dotted {
  border: 3px dotted #E06E3C;
}


#atel1 .container {
  justify-content: space-between;
  align-items: center;
  background-color: #3964E8;
  height: 60px;
  padding: 0px 1rem;
  border-bottom: 5px solid #E06E3C;
}

#atel1 ul {
  list-style-type: none;
}

.nav-logo {
  font-size: 32px;
  font-weight: 700;
}
.normal-nav {
  display: flex;
  gap: 2rem;
}
#burger-nav {
  display: none;
}

#atel2 .container {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#atel2 img {
  height: 150px;
}
#atel2 .card {
  border: 3px solid #E06E3C;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#atel2 a, #atel2 p {
  padding: 0 10px;
}

#atel2 nav {
  color: #E06E3C;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#atel3 .container {
  height: 1000px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 1rem;
  grid-template-areas: 
    ". rect . . ."
    ". rect . rect-horizontal rect-horizontal"
    ". . square-big square-big ."
    ". . square-big square-big ."; 
}
.rect { grid-area: rect; }
.rect-horizontal { grid-area: rect-horizontal; }
.square-big { grid-area: square-big; }

#atel3 img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

#atel4 .container {
  height: 600px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-template-areas: 
    "services services-rh services-rh"
    "services . ."
  ;
}
.services { 
  grid-area: services;
  display: flex; 
  flex-direction: column;
  padding: 1rem;
  border: 3px solid #3964E8;
  border-radius: 10px;
}
.services-rh {
  grid-area: services-rh;
  padding: 1rem;
  border: 3px solid #3964E8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.services-rh h3 {
  color: #3964E8;
}

.services-rh div {
  justify-content: space-between;
  align-items: center;
  color: #E06E3C;
}
.services-rh i {
  font-size: 32px;
  color: #E06E3C;
}
.services-rh a {
  color: #E06E3C;
}
.single-service {
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
  border-bottom: 1px solid #3964E8;
  padding: 0 1rem;
  color: #E06E3C;
}
.services .single-service:nth-child(2) {
  background-color: #3964E8;
  color: white;
}
.controls {
  height: 100%;
  align-items: end;
  justify-content: space-between;
  color: #3964E8;
}
.services-rh .service-controls {
  justify-content: end;
  gap: 1rem;
  flex-wrap: wrap-reverse;
}
.services-rh .service-controls .add-user {
  color: white;
  background-color: #3964E8;
}
.services-rh .service-controls .delete {
  color: white;
  background-color: #FF7070;
  
}
.btn {
  padding: 0 1rem;
  border-radius: 5px;
  min-width: 150px;
  text-align: center;
}

.add-btn {
  background-color: #3964E8;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

#atel5 .container {
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1rem;
}

#atel5 .invoice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  border: 2px solid #3A86FF;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  color: #3A86FF;
  font-size: 0.9rem;
}

.uid {
  font-weight: 600;
}
.price {
  font-weight: 500;
}
.invoice a {
  padding: 12px 6px;
  border-radius: 8px;
}

.paid-btn {
  background-color: #C4FFD8;
  color: #5CBE7D;
}
.pending-btn {
  background-color: #FFEEC4;
  color: #F1AE00;
}

@media (max-width: 760px) {
  .normal-nav {
    display: none;
  }
  #burger-nav {
    display: inline-block;
  }
  section h1 {
    text-align: center;
  }
  #atel2 .container {
    justify-content: center;
  }
  #atel4 .container {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    'services'
    'services-rh';
  }
  .btn {
    min-width: none;
  }
}
